
.list-group-item {
	font-size: 1.25em;
	font-weight: bold;
}

.row {
	color: white;
	text-align: center;
	font-size: 1.1em;
	padding: 0.5%;
	font-family: 'Open Sans', sans-serif;

}

table tr th td {
	color: white;
	text-align: center;
}

tr {
	color:white!important;
}

/*NOW*/
